<!--TODO remove <center> tag - put in css -->

<p><center>Every purchase changes a life for the better!  Little by little, we can change the world!</center></p>
<div id="givsec">
  <div class="givepic">
    <div class="givepiccontent">
      <%= image_tag('http://placekitten.com/g/300/200') %>
    </div>
  </div>
  <div class="givepic">
    <div class="givepiccontent">
      <%= image_tag('http://placekitten.com/g/300/200') %>
    </div>
  </div>
  <div class="givepic">
    <div class="givepiccontent">
      <%= image_tag('http://placekitten.com/g/300/200') %>
    </div>
  </div>
</div>

<div id="missionsec">
  <div id="missiontext">
    <h2>Mission Statement</h2>
    <div id="missionsubtext">
      <h3>Feya Candles gives a meal to someone in need with every candle sold.<br />  Through these candles, we will feed the world and make it a better place.</h3>
    </div>
  </div>
</div>

<div id="storesec">
  <div id="storeblock">
    <div id="storecontent">
      <h2>Store Locator</h2>
      <p>To purchase Feya Candles, find a store near you.</p>
        <%= form_tag locations_path, :method => :get do %>
          <p>
          Enter zipcode: <%= text_field_tag :search, params[:search] %></br>
          Within <%= select_tag :radius, options_for_select(["10", "25", "50", "100", "200", "500"])%> miles
        </p>
        <p>
          <%= submit_tag "Search" %>
        </p>  
      <% end %>
    </div>
  </div>
  <div id="storeblock">
    <div id="storecontent">
      <h2>Suggest a Store</h2>
      <p>Encourage your favorite store to carry Feya Candles.</p>
    </div>
  </div>
</div>

