<h1>Wholesale Information</h1>

<p>If you are a business owner and are interested in carrying Feya Candles in your store, please complete the form below, and we will be in touch!</p>

<!-- TODO: add product index image -->

<% @products.each do |product| %>
  <table>
    <tr>
      <td><%= link_to(product.name, product_path(product.id)) %></td>
        <% if current_user %>
          <td><%= link_to 'Show', product_path(product.id) %></td>
          <td><%= link_to 'Edit', edit_product_path(product.id) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
     </tr>
  <% end %>
</table>

<br />
<% if current_user %>
  <%= link_to 'New Product', new_product_path %>
<% end %>

<%= render "/pages/wholesale_contact_form" %>