<h1>Product Information</h1>
<div id="prodshow">
  <p>
    <b>Name:</b>
    <%= @product.name %>
  </p>
  <p>
    <%= image_tag(@product.image_url.to_s) %>
  </p>
  <p>
    <b>Description:</b>
    <%= simple_format(@product.description) %>
  </p>
  <p>
    <b>Retail price:</b>
    <%= @product.price %>
  </p>
  <% if current_user %>
    <%= link_to 'Edit', edit_product_path(@product.id) %> |
    <%= link_to 'Products Index', products_path %>
  <% end %>
</div>