<h1>Listing locations</h1>

<img src="http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&markers=markerStyles|<% @locations.each do |l| %><%= l.latitude%>%2C<%= l.longitude %>| <% end %>">

<%= form_tag locations_path, :method => :get do %>
  <p>
    Enter zipcode: <%= text_field_tag :search, params[:search] %></br>
    Search radius: <%= select_tag :radius, options_for_select(["10", "25", "50", "100", "200", "500"])%></br>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Url</th>
    <% if current_user %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= link_to(location.name, location_path(location.id)) %></td>
    <td><%= location.address %></td>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td><%= location.zip %></td>
    <td><%= location.phone %></td>
    <td><%= location.url %></td>
    <% if current_user %>
      <td><%= link_to 'Show', location %></td>
      <td><%= link_to 'Edit', edit_location_path(location) %></td>
      <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user %>
  <%= link_to 'New Location', new_location_path %>
<% end %>
