<h1>Store Locator</h1>

<p>Find a store carrying Feya Candles near you, and give them a high-five for helping feed the world, one candle at a time!</p>

<p>
  <% if current_user %>
    <%= link_to 'Add a New Store', new_location_path %>
  <% end %>
</p>
<img src="http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&markers=markerStyles|<% @locations.each do |l| %><%= l.latitude%>%2C<%= l.longitude %>| <% end %>">
<!-- TODO create a class method in the location class to return the info for the loop above -->

<%= form_tag locations_path, :method => :get do %>
  <p>
    Enter zipcode: <%= text_field_tag :search, params[:search] %>
  </p>
  <p>
    Within <%= select_tag :radius, options_for_select(["10", "25", "50", "100", "200", "500"])%> miles
  </p>
  <p>
    <%= submit_tag "Search" %>
  </p>  
<% end %>

<div id="locationtab">
  <% @locations.each do |location| %>
    <p>
      <%= link_to(location.name, location_path(location.id)) %><br />
      <%= location.address %><br />
      <%= location.listing_address %><br />
        <% if location.phone? %>
          <%= location.phone %><br />
        <% end %>
      <% if current_user %>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Delete', location, method: :delete, data: { confirm: 'Are you sure?' } %></td><br />
      <% end %>
    </p>
  <% end %>
</div>