  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>

<!-- <div class="map">
  <%= image_tag "http://maps.google.com/maps/api/staticmap?sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
</div>

<div id='map' class='dark'></div>
<script type='text/javascript'>
  var map = L.mapbox.map('map', 'examples.map-y7l23tes').setView([37.9, -77], 5);
</script> -->

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>City:</b>
  <%= @location.city %>
</p>

<p>
  <b>State:</b>
  <%= @location.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @location.zip %>
</p>
  <% if @location.phone %>
    <b>Phone:</b>
    <%= @location.phone %>
  <% end %>
</p>

<p>
  <% if @location.url? %>
    <b>Url:</b>
    <%= @location.url %>
  <% end %>
</p>

<% if current_user %>
  <%= link_to 'Edit', edit_location_path(@location.id) %> |
  <%= link_to 'Back', locations_path %>
<% end %>
