<!DOCTYPE html>
<html>
<head>
  <title>FeyaCandle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
     <%= link_to image_tag('/assets/FEYAPNG.png'), root_path %>
    <% if current_user %>
      <%= link_to "Logout", logout_path, :method => :delete, data: {confirm: 'Are you sure?' } %>
    <% end %>

  </header>
  <nav>  
    <div class="navtab">
      <div class="navlink">
        <%= link_to 'How We Give', about_path %>
      </div>
    </div>
    <div class="navtab">
      <div class="navlink">
        <%= link_to 'Find Feya Candles', locations_path %>
      </div>
    </div>
    <div class="navtab">
      <div class="navlink">
        <%= link_to 'Volunteer With Us', volunteer_path %>
      </div>
    </div>
    <div class="navtab">
      <div class="navlink">
        <%= link_to 'Wholesale', wholesale_path %>
      </div>
    </div>
  </nav>
  
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <div id="containmargin">

  <%= yield %>
  
  </div>
  
  <footer>
    <div class="footsec">
      <div class="footcontent">
        <h2>Learn More</h2>
        <p>Feya Candles<br />
          Street Address<br />
          Lincoln, NE 685xx<br />
          402.540.4162<br />
          <a href="mailto:hallowcandle@windstream.net" target="_top">Email Us</a>
        </p>
      </div>
    </div>
    <div class="footsec">
      <div class="footcontent">
        <h2>Follow Us</h2>
        <p>
          <a href="https://twitter.com/FeyaCandles" target="_blank">Twitter</a>
        </p>
        <p>
          <a href="https://www.facebook.com/hallowcandlecolincoln"
             target="_blank">Facebook</a>
        </p>
        <p>
          <a href="http://www.pinterest.com/FeyaCandles/"
             target="_blank">Pinterest</a>
        </p>
        <p>
          <a href="http://instagram.com/feyacandles" target="_blank">Instagram</a>
        </p>
      </div>
    </div>
    <div class="footsec">
      <div class="footcontent">
        <h2>Newsletter</h2>
          <%= render '/pages/newsletter_form' %>
      </div>
    </div>
  </footer>

</body>
</html>
